{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "pwgcapi.laohu.com",
    "contact": {
      "name": "luzukun",
      "email": "luzkun@pwrd.com"
    }
  },
  "host": "pwgcapi.laohu.com",
  "basePath": "/",
  "tags": [
    {
      "name": "MA预约抽奖活动",
      "description": "MA Reserve Activity Controller"
    },
    {
      "name": "im用户相关接口",
      "description": "Im User Controller"
    },
    {
      "name": "一拳超人直播活动",
      "description": "YQCR Live Activity Controller"
    },
    {
      "name": "下单",
      "description": "Shop Controller"
    },
    {
      "name": "世界-用户接口",
      "description": "User World Controller"
    },
    {
      "name": "世界-群聊接口",
      "description": "User World Im Controller"
    },
    {
      "name": "世界接口",
      "description": "World Controller"
    },
    {
      "name": "信息流-自定义模块接口",
      "description": "Feed Module Controller"
    },
    {
      "name": "信息流接口",
      "description": "Feed Controller"
    },
    {
      "name": "分享接口",
      "description": "User Share Controller"
    },
    {
      "name": "创作者数据中心接口（圈子id可不传）",
      "description": "Creator Data Center Controller"
    },
    {
      "name": "印章相关",
      "description": "Mark Controller"
    },
    {
      "name": "商品",
      "description": "Item Controller"
    },
    {
      "name": "圈子成长体系",
      "description": "Forum Growth Controller"
    },
    {
      "name": "圈子用户接口",
      "description": "Forum User Controller"
    },
    {
      "name": "圈子用户角色接口",
      "description": "Forum User Role Controller"
    },
    {
      "name": "圈子签到接口",
      "description": "Forum Sign Controller"
    },
    {
      "name": "大地图",
      "description": "Map Controller"
    },
    {
      "name": "天龙八部2下载活动",
      "description": "TLBB 2 Download Activity Controller"
    },
    {
      "name": "天龙八部2预约抽奖活动",
      "description": "TLBB 2 Reserve Activity Controller"
    },
    {
      "name": "奖励接口",
      "description": "Reward Controller"
    },
    {
      "name": "字典数据接口",
      "description": "Dict Data Rest Controller"
    },
    {
      "name": "密令活动相关接口",
      "description": "Act Pass Word Controller"
    },
    {
      "name": "对象存储接口",
      "description": "Oss Controller"
    },
    {
      "name": "幻塔一周年活动-走格子",
      "description": "Ht 1st Act Map Controller"
    },
    {
      "name": "幻塔修炼器",
      "description": "HT 0407 Controller"
    },
    {
      "name": "幻塔数据档案",
      "description": "Doc HT Data Controller"
    },
    {
      "name": "广告位",
      "description": "Advertising Controller"
    },
    {
      "name": "广告接口",
      "description": "Ad Controller"
    },
    {
      "name": "投票接口",
      "description": "Vote Controller"
    },
    {
      "name": "抽奖相关接口",
      "description": "Draw Controller"
    },
    {
      "name": "抽奖码活动相关接口",
      "description": "Act Lottery Number Controller"
    },
    {
      "name": "攻略接口",
      "description": "Strategy Controller"
    },
    {
      "name": "文章接口",
      "description": "Article Controller"
    },
    {
      "name": "活动帖子接口",
      "description": "Act Article Controller"
    },
    {
      "name": "活动接口",
      "description": "Act Controller"
    },
    {
      "name": "活动用户接口",
      "description": "Act User Controller"
    },
    {
      "name": "活动评论接口(留言)",
      "description": "Act Comment Controller"
    },
    {
      "name": "消耗抽奖次数抽奖接口",
      "description": "Act Draw Number Controller"
    },
    {
      "name": "渠道用户相关接口",
      "description": "Channel User Controller"
    },
    {
      "name": "游戏接口",
      "description": "Game Controller"
    },
    {
      "name": "游戏接口(for shop)",
      "description": "Game For Shop Controller"
    },
    {
      "name": "游戏角色绑定",
      "description": "Item Game Controller"
    },
    {
      "name": "用户关注接口",
      "description": "User Follow Controller"
    },
    {
      "name": "用户卡片兑换接口",
      "description": "User Card Redeem Controller"
    },
    {
      "name": "用户圈子接口",
      "description": "User Circle Controller"
    },
    {
      "name": "用户地址接口",
      "description": "User Address Controller"
    },
    {
      "name": "用户头像框接口",
      "description": "User Avatar Frame Controller"
    },
    {
      "name": "用户意见接口",
      "description": "User Advice Controller"
    },
    {
      "name": "用户拉黑接口",
      "description": "User Block Controller"
    },
    {
      "name": "用户接口",
      "description": "User Controller"
    },
    {
      "name": "用户标签接口",
      "description": "User Tag Controller"
    },
    {
      "name": "用户消息接口",
      "description": "User Message Controller"
    },
    {
      "name": "用户现金接口",
      "description": "User Cash Controller"
    },
    {
      "name": "登入登出接口",
      "description": "Login Controller"
    },
    {
      "name": "礼包接口",
      "description": "Gift Pack Controller"
    },
    {
      "name": "社区接口",
      "description": "Forum Controller"
    },
    {
      "name": "福利相关",
      "description": "Welfare Controller"
    },
    {
      "name": "积分任务接口",
      "description": "Task Controller New"
    },
    {
      "name": "端内p5x",
      "description": "P 5 X Controller"
    },
    {
      "name": "签到接口",
      "description": "Sign Controller"
    },
    {
      "name": "订单查询",
      "description": "Order Controller"
    },
    {
      "name": "认证相关接口（圈子id可不传）",
      "description": "Certify Controller"
    },
    {
      "name": "评论接口",
      "description": "Comment Controller"
    },
    {
      "name": "话题接口",
      "description": "Topic Controller"
    },
    {
      "name": "资料站接口",
      "description": "Doc Controller"
    },
    {
      "name": "邀请助力接口",
      "description": "Invite Help Controller"
    }
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/x-www-form-urlencoded"
  ],
  "paths": {
    "/act/article/pageIdentified": {
      "get": {
        "tags": [
          "活动帖子接口"
        ],
        "summary": "分页查询鉴定师鉴定过的文章(支持jsonp)",
        "operationId": "pageIdentifiedUsingGET",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "callback",
            "in": "query",
            "description": "jsonp 回调函数名称",
            "required": false,
            "type": "string",
            "x-example": "callback"
          },
          {
            "name": "circleId",
            "in": "query",
            "description": "圈子id",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 13
          },
          {
            "name": "pageNum",
            "in": "query",
            "description": "页码",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "页面量",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-example": 10
          },
          {
            "name": "sectionId",
            "in": "query",
            "description": "板块ID",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1
          },
          {
            "name": "sortType",
            "in": "query",
            "description": "排序方式：1-热度(默认)，2-最新更新",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-example": 1
          },
          {
            "name": "topicId",
            "in": "query",
            "description": "话题ID",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1
          },
          {
            "name": "deviceInfo",
            "in": "query",
            "description": "设备信息json",
            "required": true,
            "type": "string"
          },
          {
            "name": "sign",
            "in": "query",
            "description": "参数加密串",
            "required": true,
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "时间戳(13位毫秒值)",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "token",
            "in": "header",
            "description": "登入令牌",
            "required": true,
            "type": "string"
          },
          {
            "name": "uid",
            "in": "query",
            "description": "用户id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "0": {
            "schema": {
              "originalRef": "ResponseResult«PageResp«ArticleIdentifiedItem»»",
              "$ref": "#/definitions/ResponseResult«PageResp«ArticleIdentifiedItem»»"
            }
          },
          "1": {},
          "2": {},
          "3": {},
          "10000": {
            "description": "{0}"
          },
          "10001": {
            "description": "参数错误:{0}"
          },
          "10002": {
            "description": "参数缺失:{0}"
          },
          "10003": {
            "description": "文件超过最大限制:{0}MB"
          },
          "10004": {
            "description": "请求方式不支持"
          },
          "11000": {
            "description": "请求无效"
          },
          "20001": {
            "description": "{0}"
          },
          "20002": {
            "description": "用户名或密码错误"
          },
          "20003": {
            "description": "用户被封禁"
          },
          "20004": {
            "description": "活动未配置奖品"
          },
          "20005": {
            "description": "活动不存在"
          },
          "20006": {
            "description": "活动不存在兑奖时间"
          },
          "20007": {
            "description": "当前游戏暂不支持角色绑定"
          },
          "20010": {
            "description": "文章不存在"
          },
          "20011": {
            "description": "一级评论被删除"
          },
          "20200": {
            "description": "含有敏感内容"
          },
          "20300": {
            "description": "认证体系未配置"
          },
          "20301": {
            "description": "已有创作者权限，无需申请"
          },
          "20302": {
            "description": "等级需大于等于1"
          },
          "20303": {
            "description": "申请后已发过一篇图文或h5帖子不能更换创作者申请角色"
          },
          "20304": {
            "description": "最近30天有被取消过创作者权限"
          },
          "20700": {
            "description": "今日登入游戏记录未找到"
          },
          "20701": {
            "description": "签到活动未配置"
          },
          "20800": {
            "description": "链接已过期"
          },
          "20801": {
            "description": "您不能给自己助力"
          },
          "20802": {
            "description": "链接已失效"
          },
          "20803": {
            "description": "今日助力次数已达上限"
          },
          "20804": {
            "description": "今日已经给他助力过了"
          },
          "20805": {
            "description": "今日邀请好友助力次数已达上限"
          },
          "30001": {
            "description": "签名无效"
          },
          "30002": {
            "description": "登录态无效，请重新登录"
          },
          "30003": {
            "description": "API权限验证失败"
          },
          "30004": {
            "description": "没有查看权限"
          },
          "30005": {
            "description": "没有权限操作"
          },
          "40001": {
            "description": "系统维护中，功能暂不可用"
          },
          "40002": {
            "description": "非老虎用户"
          },
          "40003": {
            "description": "暂不支持该渠道"
          },
          "40004": {
            "description": "对方未登录过社区"
          },
          "50001": {
            "description": "应用未配置"
          },
          "50002": {
            "description": "社区已关闭"
          },
          "50003": {
            "description": "请在游戏公测后绑定角色再来兑换~"
          },
          "61002": {
            "description": "系统繁忙，请稍后再绑定角色"
          },
          "61003": {
            "description": "没有检测到支持绑定的角色，请在游戏角色登录成功后再进行绑定"
          },
          "90001": {
            "description": "系统繁忙，请稍后再试"
          },
          "100000": {},
          "130001": {
            "description": "商品不存在或已停售"
          },
          "132001": {
            "description": "游戏不存在"
          },
          "132003": {
            "description": "该游戏目前不支持该功能！"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "活动帖子接口"
        ],
        "summary": "分页查询鉴定师鉴定过的文章(支持jsonp)",
        "operationId": "pageIdentifiedUsingPOST",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "callback",
            "in": "query",
            "description": "jsonp 回调函数名称",
            "required": false,
            "type": "string",
            "x-example": "callback"
          },
          {
            "name": "circleId",
            "in": "query",
            "description": "圈子id",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 13
          },
          {
            "name": "pageNum",
            "in": "query",
            "description": "页码",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "页面量",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-example": 10
          },
          {
            "name": "sectionId",
            "in": "query",
            "description": "板块ID",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1
          },
          {
            "name": "sortType",
            "in": "query",
            "description": "排序方式：1-热度(默认)，2-最新更新",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-example": 1
          },
          {
            "name": "topicId",
            "in": "query",
            "description": "话题ID",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1
          },
          {
            "name": "deviceInfo",
            "in": "query",
            "description": "设备信息json",
            "required": true,
            "type": "string"
          },
          {
            "name": "sign",
            "in": "query",
            "description": "参数加密串",
            "required": true,
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "时间戳(13位毫秒值)",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "token",
            "in": "header",
            "description": "登入令牌",
            "required": true,
            "type": "string"
          },
          {
            "name": "uid",
            "in": "query",
            "description": "用户id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "0": {
            "schema": {
              "originalRef": "ResponseResult«PageResp«ArticleIdentifiedItem»»",
              "$ref": "#/definitions/ResponseResult«PageResp«ArticleIdentifiedItem»»"
            }
          },
          "1": {},
          "2": {},
          "3": {},
          "10000": {
            "description": "{0}"
          },
          "10001": {
            "description": "参数错误:{0}"
          },
          "10002": {
            "description": "参数缺失:{0}"
          },
          "10003": {
            "description": "文件超过最大限制:{0}MB"
          },
          "10004": {
            "description": "请求方式不支持"
          },
          "11000": {
            "description": "请求无效"
          },
          "20001": {
            "description": "{0}"
          },
          "20002": {
            "description": "用户名或密码错误"
          },
          "20003": {
            "description": "用户被封禁"
          },
          "20004": {
            "description": "活动未配置奖品"
          },
          "20005": {
            "description": "活动不存在"
          },
          "20006": {
            "description": "活动不存在兑奖时间"
          },
          "20007": {
            "description": "当前游戏暂不支持角色绑定"
          },
          "20010": {
            "description": "文章不存在"
          },
          "20011": {
            "description": "一级评论被删除"
          },
          "20200": {
            "description": "含有敏感内容"
          },
          "20300": {
            "description": "认证体系未配置"
          },
          "20301": {
            "description": "已有创作者权限，无需申请"
          },
          "20302": {
            "description": "等级需大于等于1"
          },
          "20303": {
            "description": "申请后已发过一篇图文或h5帖子不能更换创作者申请角色"
          },
          "20304": {
            "description": "最近30天有被取消过创作者权限"
          },
          "20700": {
            "description": "今日登入游戏记录未找到"
          },
          "20701": {
            "description": "签到活动未配置"
          },
          "20800": {
            "description": "链接已过期"
          },
          "20801": {
            "description": "您不能给自己助力"
          },
          "20802": {
            "description": "链接已失效"
          },
          "20803": {
            "description": "今日助力次数已达上限"
          },
          "20804": {
            "description": "今日已经给他助力过了"
          },
          "20805": {
            "description": "今日邀请好友助力次数已达上限"
          },
          "30001": {
            "description": "签名无效"
          },
          "30002": {
            "description": "登录态无效，请重新登录"
          },
          "30003": {
            "description": "API权限验证失败"
          },
          "30004": {
            "description": "没有查看权限"
          },
          "30005": {
            "description": "没有权限操作"
          },
          "40001": {
            "description": "系统维护中，功能暂不可用"
          },
          "40002": {
            "description": "非老虎用户"
          },
          "40003": {
            "description": "暂不支持该渠道"
          },
          "40004": {
            "description": "对方未登录过社区"
          },
          "50001": {
            "description": "应用未配置"
          },
          "50002": {
            "description": "社区已关闭"
          },
          "50003": {
            "description": "请在游戏公测后绑定角色再来兑换~"
          },
          "61002": {
            "description": "系统繁忙，请稍后再绑定角色"
          },
          "61003": {
            "description": "没有检测到支持绑定的角色，请在游戏角色登录成功后再进行绑定"
          },
          "90001": {
            "description": "系统繁忙，请稍后再试"
          },
          "100000": {},
          "130001": {
            "description": "商品不存在或已停售"
          },
          "132001": {
            "description": "游戏不存在"
          },
          "132003": {
            "description": "该游戏目前不支持该功能！"
          }
        },
        "deprecated": false
      }
    },
    "/act/comment/commentForArticle": {
      "post": {
        "tags": [
          "活动评论接口(留言)"
        ],
        "summary": "对(文章)发表评论|返回值待定",
        "description": "【需要签名和登入】",
        "operationId": "commentForArticleUsingPOST",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "actId",
            "in": "query",
            "description": "活动id",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1
          },
          {
            "name": "articleId",
            "in": "query",
            "description": "文章ID",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-example": 1001
          },
          {
            "name": "content",
            "in": "query",
            "description": "内容",
            "required": true,
            "type": "string",
            "x-example": "the content of the comment"
          },
          {
            "name": "deviceInfo",
            "in": "query",
            "description": "设备信息json",
            "required": true,
            "type": "string"
          },
          {
            "name": "sign",
            "in": "query",
            "description": "参数加密串",
            "required": true,
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "时间戳(13位毫秒值)",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "token",
            "in": "header",
            "description": "登入令牌",
            "required": true,
            "type": "string"
          },
          {
            "name": "uid",
            "in": "query",
            "description": "用户id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "0": {
            "schema": {
              "originalRef": "ResponseResult«ActCommentResp»",
              "$ref": "#/definitions/ResponseResult«ActCommentResp»"
            }
          },
          "1": {},
          "2": {},
          "3": {},
          "10000": {
            "description": "{0}"
          },
          "10001": {
            "description": "参数错误:{0}"
          },
          "10002": {
            "description": "参数缺失:{0}"
          },
          "10003": {
            "description": "文件超过最大限制:{0}MB"
          },
          "10004": {
            "description": "请求方式不支持"
          },
          "11000": {
            "description": "请求无效"
          },
          "20001": {
            "description": "{0}"
          },
          "20002": {
            "description": "用户名或密码错误"
          },
          "20003": {
            "description": "用户被封禁"
          },
          "20004": {
            "description": "活动未配置奖品"
          },
          "20005": {
            "description": "活动不存在"
          },
          "20006": {
            "description": "活动不存在兑奖时间"
          },
          "20007": {
            "description": "当前游戏暂不支持角色绑定"
          },
          "20010": {
            "description": "文章不存在"
          },
          "20011": {
            "description": "一级评论被删除"
          },
          "20200": {
            "description": "含有敏感内容"
          },
          "20300": {
            "description": "认证体系未配置"
          },
          "20301": {
            "description": "已有创作者权限，无需申请"
          },
          "20302": {
            "description": "等级需大于等于1"
          },
          "20303": {
            "description": "申请后已发过一篇图文或h5帖子不能更换创作者申请角色"
          },
          "20304": {
            "description": "最近30天有被取消过创作者权限"
          },
          "20700": {
            "description": "今日登入游戏记录未找到"
          },
          "20701": {
            "description": "签到活动未配置"
          },
          "20800": {
            "description": "链接已过期"
          },
          "20801": {
            "description": "您不能给自己助力"
          },
          "20802": {
            "description": "链接已失效"
          },
          "20803": {
            "description": "今日助力次数已达上限"
          },
          "20804": {
            "description": "今日已经给他助力过了"
          },
          "20805": {
            "description": "今日邀请好友助力次数已达上限"
          },
          "30001": {
            "description": "签名无效"
          },
          "30002": {
            "description": "登录态无效，请重新登录"
          },
          "30003": {
            "description": "API权限验证失败"
          },
          "30004": {
            "description": "没有查看权限"
          },
          "30005": {
            "description": "没有权限操作"
          },
          "40001": {
            "description": "系统维护中，功能暂不可用"
          },
          "40002": {
            "description": "非老虎用户"
          },
          "40003": {
            "description": "暂不支持该渠道"
          },
          "40004": {
            "description": "对方未登录过社区"
          },
          "50001": {
            "description": "应用未配置"
          },
          "50002": {
            "description": "社区已关闭"
          },
          "50003": {
            "description": "请在游戏公测后绑定角色再来兑换~"
          },
          "61002": {
            "description": "系统繁忙，请稍后再绑定角色"
          },
          "61003": {
            "description": "没有检测到支持绑定的角色，请在游戏角色登录成功后再进行绑定"
          },
          "90001": {
            "description": "系统繁忙，请稍后再试"
          },
          "100000": {},
          "130001": {
            "description": "商品不存在或已停售"
          },
          "132001": {
            "description": "游戏不存在"
          },
          "132003": {
            "description": "该游戏目前不支持该功能！"
          }
        },
        "deprecated": false
      }
    }
  },
  "definitions": {
    "ResponseResult«PageResp«ArticleIdentifiedItem»»": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "result": {
          "originalRef": "PageResp«ArticleIdentifiedItem»",
          "$ref": "#/definitions/PageResp«ArticleIdentifiedItem»"
        },
        "traceid": {
          "type": "string"
        }
      },
      "title": "ResponseResult«PageResp«ArticleIdentifiedItem»»"
    },

    "ResponseResult«ActCommentResp»": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "result": {
          "originalRef": "ActCommentResp",
          "$ref": "#/definitions/ActCommentResp"
        },
        "traceid": {
          "type": "string"
        }
      },
      "title": "ResponseResult«ActCommentResp»"
    }
  }

}
